[submodule "agrimate_ws/src/robotnik/robotnik_common"]
    path = agrimate_ws/src/robotnik/robotnik_common
    url = https://github.com/RobotnikAutomation/robotnik_common.git
    branch = jazzy-devel

[submodule "agrimate_ws/src/robotnik/robotnik_interfaces"]
    path = agrimate_ws/src/robotnik/robotnik_interfaces
    url = https://github.com/RobotnikAutomation/robotnik_interfaces.git
    branch = jazzy-devel

[submodule "agrimate_ws/src/robotnik/robotnik_sensors"]
    path = agrimate_ws/src/robotnik/robotnik_sensors
    url = https://github.com/RobotnikAutomation/robotnik_sensors.git
    branch = jazzy-devel

[submodule "agrimate_ws/src/robotnik/robotnik_description"]
	path = agrimate_ws/src/robotnik/robotnik_description
	url = https://github.com/RobotnikAutomation/robotnik_description.git
	branch = robot/rbfiqus_agrimate

[submodule "agrimate_ws/src/robotnik/robotnik_simulation"]
	path = agrimate_ws/src/robotnik/robotnik_simulation
	url = https://github.com/RobotnikAutomation/robotnik_simulation.git
	branch = robot/rbfiqus_agrimate

[submodule "agrimate_ws/src/Universal_Robots_ROS2_Description"]
    path = agrimate_ws/src/Universal_Robots_ROS2_Description
    url = https://github.com/RobotnikAutomation/Universal_Robots_ROS2_Description.git
    branch = fix/gazebo-control-jazzy

[submodule "agrimate_ws/src/ros-control/gz_ros2_control"]
    path = agrimate_ws/src/ros-control/gz_ros2_control
    url = https://github.com/ros-controls/gz_ros2_control.git
    branch = jazzy

[submodule "agrimate_ws/src/ros-visualization/visualization_tutorials"]
    path = agrimate_ws/src/ros-visualization/visualization_tutorials
    url = https://github.com/ros-visualization/visualization_tutorials.git
    branch = jazzy
