/**:
  controller_server:
    ros__parameters:
      enable_stamped_cmd_vel: True
      controller_frequency: 5.0
      min_x_velocity_threshold: 0.001
      min_y_velocity_threshold: 0.001
      min_theta_velocity_threshold: 0.001
      failure_tolerance: 0.3
      odom_topic: /robot/robotnik_base_control/odom
      progress_checker_plugin: "progress_checker"
      goal_checker_plugins: ["general_goal_checker"] # "precise_goal_checker"
      controller_plugins: ["FollowPath"]

      # Progress checker
      progress_checker:
        plugin: "nav2_controller::SimpleProgressChecker"
        required_movement_radius: 0.5
        movement_time_allowance: 10.0

      # Goal checker
      general_goal_checker:
        stateful: True
        plugin: "nav2_controller::SimpleGoalChecker"
        xy_goal_tolerance: 0.1
        yaw_goal_tolerance: 0.05

      FollowPath:
        plugin: "nav2_rotation_shim_controller::RotationShimController"
        primary_controller: "dwb_core::DWBLocalPlanner"
        angular_dist_threshold: 0.785
        forward_sampling_distance: 0.5
        rotate_to_heading_angular_vel: 1.8
        max_angular_accel: 1.4
        simulate_ahead_time: 1.0
        rotate_to_goal_heading: True


        debug_trajectory_details: true
        min_vel_x: 0.0
        min_vel_y: 0.0
        max_vel_x: 0.6
        max_vel_y: 0.0
        max_vel_theta: 1.0
        min_speed_xy: 0.0
        max_speed_xy: 0.5
        min_speed_theta: 0.0
        # Add high threshold velocity for turtlebot 3 issue.
        # https://github.com/ROBOTIS-GIT/turtlebot3_simulations/issues/75
        acc_lim_x: 3.0
        acc_lim_y: 0.0
        acc_lim_theta: 0.5
        decel_lim_x: -2.5
        decel_lim_y: 0.0
        decel_lim_theta: -2.0
        vx_samples: 20
        vy_samples: 0
        vtheta_samples: 40
        sim_time: 1.5
        linear_granularity: 0.05
        angular_granularity: 0.025
        transform_tolerance: 0.2
        xy_goal_tolerance: 0.10
        trans_stopped_velocity: 0.25
        short_circuit_trajectory_evaluation: true
        stateful: true
        critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]
        BaseObstacle.scale: 0.02
        PathAlign.scale: 32.0
        PathAlign.forward_point_distance: 0.1
        GoalAlign.scale: 24.0
        GoalAlign.forward_point_distance: 0.1
        PathDist.scale: 32.0
        GoalDist.scale: 64.0
        RotateToGoal.scale: 32.0
        RotateToGoal.slowing_factor: 5.0
        RotateToGoal.lookahead_time: -1.0

  local_costmap:
    local_costmap:
      ros__parameters:
        use_sim_time: true
        update_frequency: 10.0
        publish_frequency: 5.0
        global_frame: robot_odom
        robot_base_frame: robot_base_link
        rolling_window: true
        width: 8
        height: 8
        resolution: 0.05 #resolution: 0.025
        footprint: "[[0.4,-0.35],[0.4,0.35],[-0.4,0.35],[-0.4,-0.35]]"
        footprint_padding: 0.05
        plugins: ["obstacle_layer", "denoise_layer", "inflation_layer"]

        obstacle_layer:
          plugin: "nav2_costmap_2d::ObstacleLayer"
          enabled: true
          footprint_clearing_enabled: false
          max_obstacle_height: 2.0
          combination_method: 1
          observation_sources: front_laser
          front_laser:
            topic: /robot/front_laser/scan
            observation_persistence: 0.5
            expected_update_rate: 10.0
            data_type: "LaserScan"
            min_obstacle_height: 0.0
            max_obstacle_height: 1.0
            inf_is_valid: true
            marking: true
            clearing: true
            obstacle_max_range: 4.0
            obstacle_min_range: 0.0
            raytrace_max_range: 5.5
            raytrace_min_range: 0.0
        denoise_layer:
          plugin: "nav2_costmap_2d::DenoiseLayer"
          enabled: true
          minimal_group_size: 10
          group_connectivity_type: 16
        inflation_layer:
          plugin: "nav2_costmap_2d::InflationLayer"
          cost_scaling_factor: 10.0
          inflation_radius: 0.7
        always_send_full_costmap: true
