/**:
  route_server:
    ros__parameters:
      # The graph_filepath does not need to be specified since it going to be set by defaults in launch.
      # If you'd rather set it in the yaml, remove the default "graph" value in the launch file(s).
      # file & provide full path to map below. If graph config or launch default is provided, it is used
      # graph_filepath: $(find-pkg-share nav2_route)/graphs/aws_graph.geojson
      boundary_radius_to_achieve_node: 1.0
      radius_to_achieve_node: 0.1
      smooth_corners: true
      smoothing_radius: 0.2
      route_frame: robot_map 
      base_frame: robot_base_link
      operations: ["AdjustSpeedLimit", "ReroutingService", "CollisionMonitor"]
      ReroutingService:
        plugin: "nav2_route::ReroutingService"
      AdjustSpeedLimit:
        plugin: "nav2_route::AdjustSpeedLimit"
      CollisionMonitor:
        plugin: "nav2_route::CollisionMonitor"
        max_collision_dist: 3.0
      edge_cost_functions: ["DistanceScorer", "CostmapScorer"]
      DistanceScorer:
        plugin: "nav2_route::DistanceScorer"
      CostmapScorer:
        plugin: "nav2_route::CostmapScorer"
      prune_goal: true   
